* {
    text-decoration: none;
    list-style-type: none;
    font-family: montserratmedium;
}
body {
    margin: 0px;
}
@font-face{
    font-family:montserratmedium;
    src:url(montserratmedium.otf);
}

.bg {
    height: 875px;
    background: url(images/background1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}





header {
    height: 80px;
}
header .logo img{
    margin-left: 80px;
    margin-top: 30px;
    width: 31px;
    height: 25px;
    float: left;
}
header .button ul {
    float: right;
    margin-right: 100px; 
}
header .button ul li {
    padding-top: 28px;
    float: left; 
    padding-right: 28px;
}
header .button ul li a {
    color: #1d1d1d;
}
header .button a:hover {
    color: #9b111e;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}



.we {
    float: right;
    padding-top: 155px;
    padding-right: 125px;
}
. we p {
    color: #787878;
}
.we .cont {
    padding-top: 40px;
}
.we .cont a {
    color: white;
    border: 1px solid #9b112e;
    padding: 20px 50px;
    background-color: #9b111e;
}
.we .cont a:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.07);
}


.skills{
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 500px;
	position: relative;
	text-align: left;
	background-color: #EEE;
}
.skills h1{
	position: absolute;
	top: 15%;
	left: 3%;
}
.p1{
	position: absolute;
	left: 3%;
	color:black;
	top: 28%;
}


.signature {
    background-color: #9b111e;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px; 
}
.signature h1 {
    color: aliceblue;
    margin-bottom: 40px;
}
.signature h3 {
    color: aliceblue;
    margin-bottom: 40px;
}

.skills{
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 500px;
	position: relative;
	text-align: left;
	background-color: #f8f9f9;
}
.skills h1{
	position: absolute;
	top: 15%;
	left: 3%;
}
.p1{
	position: absolute;
	left: 3%;
	color:black;
	top: 28%;
}
.design{
	position: absolute;
	width: 500px;
	height: 3px;
	top: 38%;
	left: 3%;
	display: flex;
}
.p2{
	position: absolute;
	left: 3%;
	color:black;
	top: 42%;
}
.web{
	position: absolute;
	width: 500px;
	height: 3px;
	top: 52%;
	left: 3%;
	display: flex;
}
.p3{
	position: absolute;
	left: 3%;
	color:black;
	top: 56%;
}
.marketing{
	position: absolute;
	width: 500px;
	height: 3px;
	top: 66%;
	left: 3%;
	display: flex;
}
.p4{
	position: absolute;
	left: 3%;
	color:black;
	top: 72%;
}
.projects{
	background-color: #9b111e;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 250px;
	position: relative;
	text-align: left;
	color: white;
}
.projects img{
	width: 38px;
	height: 35px;
}
.product{
	position: relative;
	width: 100%;
	height: 600px;
}
.product div div{
	width: 25%;
  height: 300px;
}
.product div div img{
	width: 100%;
	height: 100%;
}
.product .one:hover {
    
}
.load {
    background-color: #f5f5f5;
    height: 100px;
    width: 100%;
    display: inline-block;
}
.load p {
    text-align: center;
    font-weight:bolder;
    color: #787878;
    padding-top: 25px;
}
.videoholder {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.videoholder p {
    margin-top: 40px;
    margin-bottom: 57px;
    color: #787878;
    line-height: 1.5em;
}
.Abillty {
    background-color: #f5f5f5;
    height: 535px;
    display: inline-block;
    width: 100%;
}
.iconholder {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    background-color: transparent;
    
    text-align: center;
    margin-top: 104px;
    margin-bottom: 104px;;
    margin-left: 8.53%; 
    margin-right: 8.53%;
}
.iconholder h3 {
    text-transform: uppercase;
}
.iconholder p {
    color: #787878;
}
.bullshiting {
    height: 500px;
    background-color: #9b111e;
    text-align: center;
    margin: 0 auto;
}
.bullshiting h2 {
    font-weight: lighter; 
    font-size: 2.3em;
    padding-top: 170px;
    color: white;
    font-family: "Myriad Pro";
}


.insta {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
}









































.row img {
    width: 62px;
    height: 50px;
    margin-bottom: 20px;
}
.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
